aside {
  background-color: rgb(18, 18, 49);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

aside div {
  background-color: white;
  padding: 2rem;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  justify-content: space-around;
}

aside img {
  width: 60px;
}
